<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoDox.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoDox.Properties.Config>
            <setting name="DestinationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="PublicMembersParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssociationsParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllInOneParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributeParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludeTagsParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputMode" serializeAs="String">
                <value>Select_folder</value>
            </setting>
            <setting name="SelectedModifierItems" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludedPaths" serializeAs="String">
                <value />
            </setting>
        </AutoDox.Properties.Config>
    </userSettings>
</configuration>